# Importing Data

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
groups_raw = pd.read_csv("data/EmazeMeGroups.csv")
groups_raw.head()

,GroupID,GroupName,Admin,Privecy,Visibility,priority,varified,AssociatedGroupsJson,ModeratorsJson,DateCreated,DateUpdated,AboutGroup,EmazeSite,GroupCoverUrl,GroupPhotoUrl,SiteThumnail
0,1,BeitarJerusalem,d1f13501-60bf-4dd8-b6e8-c11d2f8eab8c,1,0,0,0,NaN,NaN,2020-04-05 10:27:38.0531290,2020-04-05 10:27:38.0531290,Group of Beitar players,https://emaze.me/diogoverdasca,//userscontent2.emaze.com/userinfo//cover/2dc9...,//userscontent2.emaze.com/userinfo//image/7c4d...,//storage.googleapis.com/userscontent2.emaze.c...
1,2,BeitarFans,d1f13501-60bf-4dd8-b6e8-c11d2f8eab8c,1,0,0,0,NaN,NaN,2020-04-05 10:27:38.0531290,2020-04-05 10:27:38.0531290,Group for fans of Beitar Jerusalem f.c.,NaN,//userscontent2.emaze.com/userinfo//cover/b397...,//userscontent2.emaze.com/userinfo//image/1e5a...,NaN
2,3,newgroupwithdate2,NaN,0,0,0,0,NaN,NaN,2020-04-05 12:00:36.2022096,2020-04-05 12:00:36.2022096,NaN,NaN,NaN,NaN,NaN
3,4,another-group,NaN,0,0,0,0,NaN,NaN,2020-04-20 08:57:01.8046276,2020-04-20 08:57:01.8046276,NaN,NaN,NaN,NaN,NaN
4,5,"""""",NaN,0,0,0,0,NaN,NaN,2020-04-20 10:44:39.2241056,2020-04-20 10:44:39.2241056,NaN,NaN,NaN,NaN,NaN

In [3]:
followers_raw = pd.read_csv("data/EmazeMeGroupFollowers.csv")
followers_raw.head()

,FollowId,FollowerId,EmazeMeGroupId,FollowingSince
0,3,240238a0-ce99-4ea7-ac77-eff09fb5eff2,1,0001-01-03 00:00:00.000
1,4,240238a0-ce99-4ea7-ac77-eff09fb5eff2,2,0001-01-03 00:00:00.000
2,5,e9477dec-c960-4f11-a563-9781cf8b1c15,1,0001-01-03 00:00:00.000
3,6,e9477dec-c960-4f11-a563-9781cf8b1c15,2,0001-01-03 00:00:00.000
4,7,93aff917-ec28-4201-b1d2-788e275671b2,1,0001-01-03 00:00:00.000

In [4]:
members_raw = pd.read_csv("data/EmazeMeGroupMembers.csv")
members_raw.head()

,FollowId,MemberId,EmazeMeGroupId,MemberSince
0,2,240238a0-ce99-4ea7-ac77-eff09fb5eff2,2,0001-01-03 00:00:00.000
1,3,e9477dec-c960-4f11-a563-9781cf8b1c15,2,0001-01-03 00:00:00.000
2,4,93aff917-ec28-4201-b1d2-788e275671b2,2,0001-01-03 00:00:00.000
3,5,41274e54-612f-4b03-9461-63ae9c74ab07,2,0001-01-03 00:00:00.000
4,6,371088ec-ccd9-4c1e-acb3-6c3b43c84627,2,0001-01-03 00:00:00.000

In [5]:
pending_raw = pd.read_csv('data/EmazeMeGroupPendingMembers.csv')
pending_raw.head()

   FollowId                              MemberId  EmazeMeGroupId
0        60  57388fef-9814-4163-8a8a-b676bfb85801               2
1        64  311ff7ca-d05c-4ac3-820a-9c0fc4228d59               2
2        65  c5913a2c-521d-43aa-b031-bb869cea175d               2
3        66  3199cab4-ee6d-4a7e-b629-7c4adf5f5fb4               2
4        67  a0086ebc-c7da-414b-b56f-1db40c1bcdd0               2

In [6]:
templates_raw = pd.read_csv('data/EmazeMeGroupFromTemplate.csv')
templates_raw.head()

   CampaignID  GroupID  customThemeID  CampaignType
0           1        1          48919             0
1           2        1          48922             0
2           3        1          48921             0
3           4        1          48920             0
4           5        1          48931             0

In [7]:
users_raw = pd.read_csv('data/Mini_InfoOfUsers.csv')
users_raw.head()

C:\Users\kwong\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (18,26,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,InfoId,UserId,Email,FirstName,LastName,Telephone,CompanyName,Address,CountryName,IpAddress,...,PricingSource,RecurringCycle,TrialPeriod,PublicEmail,WebSite,UserFotoUrl,UserCoverUrl,Description,Industry,PaymentStatus
0,3207030,45f12908-b14d-48ac-9a32-74fd3ddce869,tanmayi.k@gmail.com,tanmayi.k,NaN,NaN,NaN,NaN,NaN,98.206.236.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High School Student,NaN
1,3207031,d7538250-4f20-4fe6-afbb-530a3572c3fb,victoriaeesmall@gmail.com,victoriaeesmall,NaN,NaN,NaN,NaN,NaN,99.234.116.252,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High School Student,NaN
2,3207032,d9b69a62-0be8-4715-a153-472c318434c5,335983953@educ.dpcdsb.org,335983953,NaN,NaN,NaN,NaN,NaN,174.118.111.101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Middle School Student,NaN
3,3207033,eb582c3a-4004-4f0b-98b6-71f16210e2dd,jashawnbarker@yahoo.com,jashawnbarker,NaN,NaN,NaN,NaN,NaN,72.48.202.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,University Professor,NaN
4,3207034,e4e04ad6-aaaf-4cfe-b233-2446831eacc5,brianortegabuenrostro@hotmail.com,brianortegabuenrostro,NaN,NaN,NaN,NaN,NaN,189.222.39.120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Estudiante Universitario,NaN

In [8]:
users_raw.columns

Index(['InfoId', 'UserId', 'Email', 'FirstName', 'LastName', 'Telephone',
       'CompanyName', 'Address', 'CountryName', 'IpAddress', 'CountryCode',
       'AffiliateId', 'SubId', 'RegisterDate', 'LastLoginDate', 'Status',
       'PremiumStartDate', 'PremiumEndDate', 'PaymentProcessor',
       'PaymentReference', 'CampaignId', 'Alias', 'InitialPaymentAmount',
       'RecurringPaymentAmount', 'Funnel', 'PricingSource', 'RecurringCycle',
       'TrialPeriod', 'PublicEmail', 'WebSite', 'UserFotoUrl', 'UserCoverUrl',
       'Description', 'Industry', 'PaymentStatus'],
      dtype='object')

# Cleaning and Combining Datasets

In [9]:
members_raw.columns

Index(['FollowId', 'MemberId', 'EmazeMeGroupId', 'MemberSince'], dtype='object')

In [10]:
members_raw.dtypes

FollowId           int64
MemberId          object
EmazeMeGroupId     int64
MemberSince       object
dtype: object

In [11]:
members.drop(members.index[3:11])

NameError: name 'members' is not defined

In [ ]:
members.MemberSince = pd.to_datetime(members['MemberSince'])
members.dtypes

In [ ]:
members.rename(columns={'EmazeMeGroupId': 'GroupID'}, inplace=True)

In [ ]:
pending = pending_raw
pending.columns

In [ ]:
pending.rename(columns={'EmazeMeGroupId': 'GroupID'}, inplace=True)

In [ ]:
groups_raw.columns

In [ ]:
groups_raw.DateCreated = pd.to_datetime(groups['DateCreated'])
groups_raw.DateUpdated = pd.to_datetime(groups['DateUpdated'])
print(groups_raw.dtypes)

In [ ]:
deletegroups = ['priority', 'varified', 'AssociatedGroupsJson', 'ModeratorsJson',
                'EmazeSite', 'GroupCoverUrl', 'GroupPhotoUrl', 'SiteThumnail']

groups = groups_raw.drop(deletegroups, axis=1)
groups.rename(columns={'Privecy': 'Privacy'}, inplace=True)
groups.head()

In [ ]:
data = pd.concat([groups, members, pending],ignore_index=True)
data.head()

# Exploratory Data Analysis

In [ ]:
data.shape

In [ ]:
print(data.isnull().sum())

In [ ]:
privacy = data.set_index('Privacy')
mapping = {0.0: 'Public', 1.0: 'Closed', 2.0: 'Private'}
privacy.groupby(mapping).count()

In [ ]:
visibility = data.set_index('Visibility')
mapping = {0.0: 'Visible', 1.0: 'Hidden'}
visibility.groupby(mapping).count()

In [ ]:
number_members = data.groupby('GroupID')['MemberId'].count()
number_members.sort_values(ascending=False)

In [ ]:
data.groupby('MemberId')['GroupID'].count()

In [ ]:
#Shows how many times each group is listed in the dataframe (and how many members it has)
sns.distplot(data.GroupID)